<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.p72b.geo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name=".util.ContextProvider"
            android:authorities="${applicationId}.geo.contextprovider"
            android:exported="false" />
    </application>
</manifest>